<!DOCTYPE html>
<html>
<head>
    <title>Test!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#file-form').submit(function () {
                $('#file-submit').attr("disabled", true);
                return true;
            });

            $(".custom-file-input").on("change", function() {
                let fileName = $(this).val().split("\\").pop();
                if (this.files[0] && this.files[0].type !== "image/gif") {
                    alert("File must be a gif.");
                    this.value = "";
                    fileName = "";
                }
                else if (this.files[0] && this.files[0].size > (35 * 1024 * 1024)) {
                    alert("File too large! Max is 35MB.");
                    this.value = "";
                    fileName = "";
                }

                if (fileName === "") fileName = "Choose your gif";
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
    </script>
</head>

<body>
<div class="jumbotron text-center">
    <h1>You Died Meme Generator</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="text-center col-md-4 mx-auto">
    <form id="file-form" action="/api/upload" enctype="multipart/form-data" method="post">
        <div class="custom-file">
            <label class="custom-file-label" for="file-input">Choose your gif</label>
            <input class="custom-file-input" id="file-input" type="file" name="gifInput" accept=".gif" required />
        </div>
        <div>
            <label for="memeType">Select meme to add:</label>
            <select name="memeType" id="memeType">
                <option value="youDied">You Died</option>
                <option value="awake">You're Finally Awake</option>
            </select>
        </div>
        <input class="btn btn-primary" id="file-submit" type="submit" value="Upload" />
        <p>TODO: Filename input and 8mb discord output option</p>
    </form>
</div>
</body>

</html>