<!DOCTYPE html>
<html>
<head>
    <title>Test!!!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#file-form").submit(function () {
                $("#file-submit").attr("disabled", true);
                return true;
            });
        });
    </script>
</head>

<body>
<h2>With <code>"express"</code> npm package</h2>
<form id="file-form" action="/api/upload" enctype="multipart/form-data" method="post">
    <div>File: <input type="file" name="gifInput" accept=".gif" /></div>
    <input id="file-submit" type="submit" value="Upload" />
</form>
</body>

</html>